<div class="card" style="width: 25rem;margin-top: 100px;margin-left: 40%;font-weight: bold;text-justify: auto;">
    <h3 class="card-title" style="text-align: left;background-color: blue;padding: 10px;">Checkout Details</h3>
    <div class="card-body">
      <h6>Total amount to be paid : {{amount | currency}}</h6>
      &nbsp;  
      <h6>Thanks for booking movie ticket online. Please pay and collect your ticket at BOX OFFICE COUNTER!!</h6>
      &nbsp;  
      <h6><a (click)="bookMore()" style="cursor:pointer"><u>Book More Tickets</u></a></h6>
      &nbsp;
      <div>
    </div>
    </div>
    </div>
